@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss";

body {
  background-color: #171515;
  color: #f5f5f5;
  overflow-x: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;  /* Chrome, Safari and Opera */
  width: 0 !important;
  height: 0 !important;
}