@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #171515;
  color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.rounded-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.rounded-scrollbar::-webkit-scrollbar-track {
  border-radius: 0px 0.5rem 0 0.5rem;
}

.rounded-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4c4b4b;
  border-radius: 8px;
  border: 2px solid #383737;
}

input[type="range"]::-webkit-slider-thumb {
  transition: all 0.5s linear;
}

input[type="range"]::-moz-range-thumb {
  transition: all 0.5s linear;
}

.drag-none {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Toastify__toast-theme--dark {
  background-color: #383737;
}
